<?xml version="1.0" encoding="utf-8"?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
>
  <targets>
    <default-target-parameters
      xsi:type="File"
      maxArchiveDays="7"
      layout="[${longdate} ${level:uppercase=true}] ${message}"
      createDirs="true"
    />
    <target
      name="debugFile"
      xsi:type="File"
      fileName="${dir-separator}app${dir-separator}logs${dir-separator}Logs${dir-separator}Debug${dir-separator}${shortdate}_debug.txt"
    />
    <target
      name="infoFile"
      xsi:type="File"
      fileName="${dir-separator}app${dir-separator}logs${dir-separator}Logs${dir-separator}Info${dir-separator}${shortdate}_info.txt"
    />
    <target
      name="warningFile"
      xsi:type="File"
      fileName="${dir-separator}app${dir-separator}logs${dir-separator}Logs${dir-separator}Warning${dir-separator}${shortdate}_warnings.txt"
    />
    <target
      name="errorFile"
      xsi:type="File"
      fileName="${dir-separator}app${dir-separator}logs${dir-separator}Logs${dir-separator}Error${dir-separator}${shortdate}_errors.txt"
    />
    <target
      name="console"
      xsi:type="Console"
      layout="[${longdate} ${level:uppercase=true}] ${message}"
    />
  </targets>
  <rules>
    <logger name="debugLogger" levels="Debug" writeTo="debugFile" />
    <logger name="infoLogger" levels="Info" writeTo="infoFile" />
    <logger name="warningLogger" levels="Warn" writeTo="warningFile" />
    <logger name="errorLogger" levels="Error" writeTo="errorFile,console" />
  </rules>
</nlog>
